{# src/Blogger/BlogBundle/Resources/views/Blog/contact.html.twig #}
{% extends 'BloggerBlogBundle::layout.html.twig' %}

{% block title %}Contact{% endblock%}

{% block body %}
    <header>
        <h1>Contacta conmigo</h1>
    </header>

    <p>Puedes encontrarme en las siguientes redes sociales:</p>
	<ul>
		<li><a href="https://twitter.com/claorden" target="_blank">Twitter</a></li>
		<li><a href="https://www.linkedin.com/in/claorden" target="_blank">LinkedIn</a></li>
	</ul>
{% endblock %}
